@font-face 
  font-family: "OpenSans"
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url("src/assets/font/OpenSans-Regular.ttf")

@font-face 
  font-family: "OpenSans"
  font-style: semibold
  font-weight: 600
  font-display: swap
  src: url("src/assets/font/OpenSans-SemiBold.ttf")

@font-face 
  font-family: "OpenSans"
  font-style: bold
  font-weight: 700
  font-display: swap
  src: url("src/assets/font/OpenSans-Bold.ttf")

@font-face 
  font-family: "Fraunces"
  font-style: semibold
  font-weight: 600
  font-display: swap
  src: url("src/assets/font/Fraunces_9pt-SemiBold.ttf")

@font-face 
  font-family: "Fraunces"
  font-style: bold
  font-weight: 700
  font-display: swap
  src: url("src/assets/font/Fraunces_9pt-Bold.ttf")
