@use "./font"

$background-color: #fff
$second-background-color: #EDF0F7

$color-action: #3651D9
$color-aware: #DE2635
$color-black: #000
$color-white: #fff
$color-font-main: #33353C
$color-font-secondary: #686D7D
$color-hint: #717685

$font-size-small: 12px
$font-size-medium: 16px
$font-size-large: 32px

$font-weight-regular: 400
$font-weight-medium: 500

$font-family-main: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
