@use "./font"

$background-color: #FAF8F5
$second-background-color: #F0ECE4

$color-default: #E1DFDC
$color-action: #4A4A48
$color-aware: #CC0044
$color-save: #D6A48A
$color-highlight: #D4A418
$color-black: #000
$color-white: #fff
$color-font: #525C66

$font-size-xsmall: 12px
$font-size-small: 16px
$font-size-medium: 20px
$font-size-large: 24px
$font-size-xlarge: 32px

$font-weight-regular: 400
$font-weight-medium: 500

$font-family-main: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
